# Markdown Format

## Headings:

# Sample
###### demo
####### program

## Styling text

## Bold

**This is for bold**
__Demo for bold__

## Italic

_This is for italic_
*demo for italic*

## Strike Through

~~Demo for strike through~~

## Bold and Nested Italic 

**Ramu is Good at *Teaching* in Academics**

## All Bold and Nested Italic

***This is for all bold and nested italic***

## Quoting Text

> This is sample example for quoring text

## Quoting Code

`Chapter-1`

`` Chapter-1 ``
`` Chapter-2 ``

```
Sample
Example for 
Quoting Code
```

## Links:
    
Google [Click Here](https://www.google.com/)

## Section

## Relative Link

Python file [Click Here](sample.py)

Image [View](demo.png)

## Image

![View](demo.png)

![Demo]()

## Typecasting:
    - To change one data type to another data type
    - int()
    - float()
    - str()
    - complex()
    - All Data Structures [list(),tuple(),set() and dict()]

```
    Input:
    ======
    Enter a value: 2 
    Enter b value: 6
    
    Output:
    =======
    Addition of 2 and 6 is: 8 
```

In [4]:
c = input("Enter a value: ")
s = input("Enter b value: ")
print("Addition of",c,"and",s,"is:",c+s)
print("Addition of "+c+" and "+s+" is: "+c+s)

Enter a value: 1
Enter b value: 5
Addition of 1 and 5 is: 15
Addition of 1 and 5 is: 15

In [3]:
c = int(input("Enter a value: "))
s = int(input("Enter b value: "))
print("Addition of",c,"and",s,"is:",c+s)
print("Addition of %d and %d is: %d"%(c,s,c+s))
print("Addition of {} and {} is: {}".format(c,s,c+s))
print("Addition of {1} and {0} is: {2}".format(c,s,c+s))
print(f"Addition of {c} and {s} is: {c+s}")

Enter a value: 1
Enter b value: 6
Addition of 1 and 6 is: 7
Addition of 1 and 6 is: 7
Addition of 1 and 6 is: 7
Addition of 6 and 1 is: 7
Addition of 1 and 6 is: 7

## Conditional Statements:
    - if
    - if-else
    - nested if
    - elif

```
Input:
    Enter a number: 12
    
Output:
    Given number is 12 and it is equal to 12
```

In [5]:
n = int(input("Enter a number: "))
if n == 12:
    print(f"Given number is {n} and it is equal to 12")

Enter a number: 12
Given number is 12 and it is equal to 12

In [8]:
m = int(input("Enter a number to fix: "))
n = int(input("Enter a number: "))
if n == m:
    print(f"Given number is {n} and it is equal to {m}")

Enter a number to fix: 5
Enter a number: 5
Given number is 5 and it is equal to 5

In [13]:
n = int(input("Enter a number: "))
if n%2==0:
    print(f"Entered number {n} is Even")
else:
    print(f"Entered number {n} is Odd")

Enter a number: 44
Entered number 44 is Even

In [14]:
y = int(input("Enter a number: "))
if y%3==0:
    k = int(input())
    print(3*k*k)
else:
    a = int(input())
    b = int(input())
    print(5*a*a+3*b)

Enter a number: 5
1
5
20