## Dictionary:
    - It can be represented as {} with empty items in it
    - It can be typecasted as dict()
    - It stores key and value pairs
    - It allows duplicate values but not keys
    - It stores data in ordered format
    - It can changes a value and key
    - We can access values by key names

In [1]:
z = {}
w = {'4'}
print(z,type(z))
print(w,type(w))

{} <class 'dict'>
{'4'} <class 'set'>

In [3]:
y = {'sno':1,'sname':['suresh','kiran'],'sage':30}
print(y,type(y))

{'sno': 1, 'sname': ['suresh', 'kiran'], 'sage': 30} <class 'dict'>

In [4]:
for i in range(len(y)):
    print(i,type(i))

0 <class 'int'>
1 <class 'int'>
2 <class 'int'>

In [5]:
for i in range(len(y)):
    print(y[i],type(y[i]))

KeyError: 0

In [6]:
for i in y:
    print(i,type(i))

sno <class 'str'>
sname <class 'str'>
sage <class 'str'>

In [7]:
for i,j in y:
    print(i,j,type(i),type(j))

ValueError: too many values to unpack (expected 2)

In [9]:
for i,j in y.items():
    print(i,j,type(i),type(j))

sno 1 <class 'str'> <class 'int'>
sname ['suresh', 'kiran'] <class 'str'> <class 'list'>
sage 30 <class 'str'> <class 'int'>

In [10]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [11]:
print(y.items())

dict_items([('sno', 1), ('sname', ['suresh', 'kiran']), ('sage', 30)])

In [12]:
print(y.keys())

dict_keys(['sno', 'sname', 'sage'])

In [13]:
print(y.values())

dict_values([1, ['suresh', 'kiran'], 30])

In [14]:
print(y)
y.setdefault('Addr')
print(y)

{'sno': 1, 'sname': ['suresh', 'kiran'], 'sage': 30}
{'sno': 1, 'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': None}

In [15]:
print(y)
y.setdefault('college','KEC')
print(y)

{'sno': 1, 'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': None}
{'sno': 1, 'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': None, 'college': 'KEC'}

In [16]:
print(y)
y.update({'Addr':'Kuppam'})
print(y)

{'sno': 1, 'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': None, 'college': 'KEC'}
{'sno': 1, 'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': 'Kuppam', 'college': 'KEC'}

In [17]:
print(y)
print(y.get('college'))
print(y)
print(y['sno'])

{'sno': 1, 'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': 'Kuppam', 'college': 'KEC'}
KEC
{'sno': 1, 'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': 'Kuppam', 'college': 'KEC'}
1

In [18]:
print(y)
print(y['location'])

{'sno': 1, 'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': 'Kuppam', 'college': 'KEC'}

KeyError: 'location'

In [19]:
print(y)
y.pop()
print(y)

{'sno': 1, 'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': 'Kuppam', 'college': 'KEC'}

TypeError: pop expected at least 1 argument, got 0

In [20]:
print(y)
y.pop('sno')
print(y)

{'sno': 1, 'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': 'Kuppam', 'college': 'KEC'}
{'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': 'Kuppam', 'college': 'KEC'}

In [21]:
print(y)
y.popitem()
print(y)

{'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': 'Kuppam', 'college': 'KEC'}
{'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': 'Kuppam'}

In [24]:
a = ['Lokesh','Suresh']
b = 'KEC','2nd Year'
q = {}
q = q.fromkeys(a,b)
print(q)

{'Lokesh': ('KEC', '2nd Year'), 'Suresh': ('KEC', '2nd Year')}

In [26]:
print(y)
z = y.copy()
print(z)
print(y)

{'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': 'Kuppam'}
{'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': 'Kuppam'}
{'sname': ['suresh', 'kiran'], 'sage': 30, 'Addr': 'Kuppam'}

In [27]:
print(q)
q.clear()
print(q)

{'Lokesh': ('KEC', '2nd Year'), 'Suresh': ('KEC', '2nd Year')}
{}

## Set:
    - It can be represented as {} with some value in it
    - It stores data in unorder format while displaying it in kernel and unordered format while using print statement
    - It doesn't allows duplicate values
    - It can be typecasted as set()
    - Slicing can't be done because of no index
    - It can changes as value

In [28]:
m = {2,45.015,False,None,8+3j,'Ganesh','1.021',2,2}
print(m,type(m))

{False, '1.021', 2, 45.015, (8+3j), 'Ganesh', None} <class 'set'>

In [30]:
print(m)
m

{False, '1.021', 2, 45.015, (8+3j), 'Ganesh', None}

{(8+3j), '1.021', 2, 45.015, False, 'Ganesh', None}

In [31]:
for i in range(len(m)):
    print(i,type(i))

0 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>

In [32]:
for i in range(len(m)):
    print(m[i],type(m[i]))

TypeError: 'set' object is not subscriptable

In [33]:
for i in m:
    print(i,type(i))

False <class 'bool'>
1.021 <class 'str'>
2 <class 'int'>
45.015 <class 'float'>
(8+3j) <class 'complex'>
Ganesh <class 'str'>
None <class 'NoneType'>

In [34]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [35]:
a = {4,5,8,9,6,50}
b = {56,88,9,3,45,2,4}
print(a)
print(b)

{50, 4, 5, 6, 8, 9}
{2, 3, 4, 56, 9, 88, 45}

In [36]:
print(a)
print(b)
print(a.union(b))
print(b.union(a))
print(a)
print(b)

{50, 4, 5, 6, 8, 9}
{2, 3, 4, 56, 9, 88, 45}
{2, 3, 4, 5, 6, 8, 9, 45, 50, 56, 88}
{2, 3, 4, 5, 6, 8, 9, 45, 50, 56, 88}
{50, 4, 5, 6, 8, 9}
{2, 3, 4, 56, 9, 88, 45}

In [37]:
print(a)
print(b)
print(a.intersection(b))
print(b.intersection(a))
print(a)
print(b)

{50, 4, 5, 6, 8, 9}
{2, 3, 4, 56, 9, 88, 45}
{9, 4}
{9, 4}
{50, 4, 5, 6, 8, 9}
{2, 3, 4, 56, 9, 88, 45}

In [38]:
print(a)
print(b)
print(a.difference(b))
print(b.difference(a))
print(a)
print(b)

{50, 4, 5, 6, 8, 9}
{2, 3, 4, 56, 9, 88, 45}
{8, 50, 5, 6}
{2, 3, 45, 56, 88}
{50, 4, 5, 6, 8, 9}
{2, 3, 4, 56, 9, 88, 45}

In [39]:
print(a)
print(b)
print(a.symmetric_difference(b))
print(b.symmetric_difference(a))
print(a)
print(b)

{50, 4, 5, 6, 8, 9}
{2, 3, 4, 56, 9, 88, 45}
{2, 3, 5, 6, 8, 88, 45, 50, 56}
{2, 3, 5, 6, 8, 88, 45, 50, 56}
{50, 4, 5, 6, 8, 9}
{2, 3, 4, 56, 9, 88, 45}

In [40]:
print(a)
a.pop()
print(a)

{50, 4, 5, 6, 8, 9}
{4, 5, 6, 8, 9}

In [41]:
print(a)
a.pop(6)
print(a)

{4, 5, 6, 8, 9}

TypeError: set.pop() takes no arguments (1 given)

In [42]:
print(a)
a.remove(-50)
print(a)

{4, 5, 6, 8, 9}

KeyError: -50

In [43]:
print(a)
a.remove(5)
print(a)

{4, 5, 6, 8, 9}
{4, 6, 8, 9}

In [44]:
print(a)
a.add(450)
print(a)

{4, 6, 8, 9}
{450, 4, 6, 8, 9}

In [45]:
print(a)
a.add(-25)
print(a)

{450, 4, 6, 8, 9}
{450, 4, 6, -25, 8, 9}

In [46]:
s = {45,6,7,8}
q = {56,7,8,34}
print(s)
print(q)
q.intersection_update(s)
print(s)
print(q)

{8, 45, 6, 7}
{56, 8, 34, 7}
{8, 45, 6, 7}
{8, 7}

In [47]:
z = {45,89,5,3,6}
a = {4,89,5,630}
print(z)
print(a)
z.difference_update(a)
print(z)
print(a)

{3, 5, 6, 89, 45}
{89, 4, 5, 630}
{3, 6, 45}
{89, 4, 5, 630}

In [49]:
p = {56,7,8,90}
q = {3,67,7,234,78}
print(p)
print(q)
p.symmetric_difference_update(q)
print(p)
print(q)

{56, 8, 90, 7}
{3, 67, 7, 234, 78}
{3, 67, 8, 234, 78, 56, 90}
{3, 67, 7, 234, 78}

In [50]:
d = {45,89,56,7,87,5}
print(d)
d.discard(56)
print(d)

{5, 87, 7, 56, 89, 45}
{5, 87, 7, 89, 45}

## String:

In [54]:
a = 'This is an Example'
print(a,type(a))

This is an Example <class 'str'>

In [55]:
for i in range(len(a)):
    print(i,type(i))

0 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
10 <class 'int'>
11 <class 'int'>
12 <class 'int'>
13 <class 'int'>
14 <class 'int'>
15 <class 'int'>
16 <class 'int'>
17 <class 'int'>

In [56]:
for i in range(len(a)):
    print(a[i],type(a[i]))

T <class 'str'>
h <class 'str'>
i <class 'str'>
s <class 'str'>
  <class 'str'>
i <class 'str'>
s <class 'str'>
  <class 'str'>
a <class 'str'>
n <class 'str'>
  <class 'str'>
E <class 'str'>
x <class 'str'>
a <class 'str'>
m <class 'str'>
p <class 'str'>
l <class 'str'>
e <class 'str'>

In [57]:
for i in a:
    print(i,type(i))

T <class 'str'>
h <class 'str'>
i <class 'str'>
s <class 'str'>
  <class 'str'>
i <class 'str'>
s <class 'str'>
  <class 'str'>
a <class 'str'>
n <class 'str'>
  <class 'str'>
E <class 'str'>
x <class 'str'>
a <class 'str'>
m <class 'str'>
p <class 'str'>
l <class 'str'>
e <class 'str'>

In [58]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [60]:
h = "THis IS an ExaMple"
print(h)
print(h.title())
print(h.swapcase())
print(h.capitalize())
print(h.casefold())
print(h.upper())
print(h.lower())

THis IS an ExaMple
This Is An Example
thIS is AN eXAmPLE
This is an example
this is an example
THIS IS AN EXAMPLE
this is an example

In [63]:
a = "    THis is an Example"
b = "Raju is Good AT Teaching   "
print(a)
print(b)
print(a.strip())
print(b.strip())
print(a.lstrip())
print(b.rstrip())

    THis is an Example
Raju is Good AT Teaching
THis is an Example
Raju is Good AT Teaching
THis is an Example
Raju is Good AT Teaching

In [65]:
print(a)
print(a.index('i'))
print(a.rindex('i'))

    THis is an Example
6
9

In [66]:
print(a.index('z'))

ValueError: substring not found

In [67]:
print(a.rindex('z'))

ValueError: substring not found

In [69]:
print(a)
print(a.find('E'))
print(a.rfind('e'))

    THis is an Example
15
21

In [70]:
print(a)
print(a.find('v'))
print(a.rfind('v'))

    THis is an Example
-1
-1

In [71]:
print(a)
print(a.replace('E','P'))
print(a)

    THis is an Example
    THis is an Pxample
    THis is an Example

In [74]:
print(a)
print(a.ljust(30))
print(a.rjust(30))
print(a.center(30))
print(a.zfill(30))

    THis is an Example
    THis is an Example
            THis is an Example
        THis is an Example
00000000    THis is an Example

In [76]:
n = input().split(",")
print(n,type(n))

1,5,9,6,7
['1', '5', '9', '6', '7'] <class 'list'>

In [78]:
print(a)
print(a.split('i'))
print(a)

    THis is an Example
['    TH', 's ', 's an Example']
    THis is an Example

In [79]:
print(a)
print(a.rsplit('i'))
print(a)

    THis is an Example
['    TH', 's ', 's an Example']
    THis is an Example

In [80]:
print(a)
print("-".join(a))
print(a)

    THis is an Example
 - - - -T-H-i-s- -i-s- -a-n- -E-x-a-m-p-l-e
    THis is an Example

In [88]:
n = input("Enter a character to print ASCII Value: ")
print(f"{n} ASCII Value is: {ord(n)}")

Enter a character to print ASCII Value: z
z ASCII Value is: 122

In [90]:
y = int(input("Enter ASCII Value: "))
print(f"{y} ASCII Character is: {chr(y)}")

Enter ASCII Value: 122
122 ASCII Character is: z

In [92]:
for i in range(256):
    print(f"{i}:{chr(i)}",end="\t")

0: 	1:	2:	3:	4:	5:	6:	7:	8:	9:		10:
	14:	15:	16:	17:	18:	19:	20:	21:	22:	23:	24:	25:	26:	27:	28:	29:	30:	31:	32: 	33:!	34:"	35:#	36:$	37:%	38:&	39:'	40:(	41:)	42:*	43:+	44:,	45:-	46:.	47:/	48:0	49:1	50:2	51:3	52:4	53:5	54:6	55:7	56:8	57:9	58::	59:;	60:<	61:=	62:>	63:?	64:@	65:A	66:B	67:C	68:D	69:E	70:F	71:G	72:H	73:I	74:J	75:K	76:L	77:M	78:N	79:O	80:P	81:Q	82:R	83:S	84:T	85:U	86:V	87:W	88:X	89:Y	90:Z	91:[	92:\	93:]	94:^	95:_	96:`	97:a	98:b	99:c	100:d	101:e	102:f	103:g	104:h	105:i	106:j	107:k	108:l	109:m	110:n	111:o	112:p	113:q	114:r	115:s	116:t	117:u	118:v	119:w	120:x	121:y	122:z	123:{	124:|	125:}	126:~	127:	128:	129:	130:	131:	132:	133:	134:	135:	136:	137:	138:	139:	140:	141:	142:	143:	144:	145:	146:	147:	148:	149:	150:	151:	152:	153:	154:	155:	156:	157:	158:	159:	160: 	161:¡	162:¢	163:£	164:¤	165:¥	166:¦	167:§	168:¨	169:©	170:ª	171:«	172:¬	173:­	174:®	175:¯	176:°	177:±	178:²	179:³	180:´	181:µ	182:¶	183:·	184:¸	185:¹	186:º	187:»	188:¼	189:½	190:¾	191:¿	192:À	193:Á	194:Â	195:Ã	196:Ä	197:Å	198:Æ	199:Ç	200:È	201:É	202:Ê	203:Ë	204:Ì	205:Í	206:Î	207:Ï	208:Ð	209:Ñ	210:Ò	211:Ó	212:Ô	213:Õ	214:Ö	215:×	216:Ø	217:Ù	218:Ú	219:Û	220:Ü	221:Ý	222:Þ	223:ß	224:à	225:á	226:â	227:ã	228:ä	229:å	230:æ	231:ç	232:è	233:é	234:ê	235:ë	236:ì	237:í	238:î	239:ï	240:ð	241:ñ	242:ò	243:ó	244:ô	245:õ	246:ö	247:÷	248:ø	249:ù	250:ú	251:û	252:ü	253:ý	254:þ	255:ÿ

## comprehensions
  - list
  - set
  - Dictionary

In [93]:
a= [i for i in range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
n=[i for i in range(int(input("enter a range: ")))]
print(n)

enter a range: 45
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [95]:
m = [i for i in range(int(input("Enter a range: "))) if i%2==0]
print(m)

Enter a range: 10
[0, 2, 4, 6, 8]

In [97]:
m = [i if i%2==0 else -1 for i in range(int(input("Enter a range: ")))]
print(m)

Enter a range: 10
[0, -1, 2, -1, 4, -1, 6, -1, 8, -1]

In [99]:
k = list(i for i in range(int(input("Enter a range: "))))
print(k)

Enter a range: 10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
k = set(i for i in range(int(input("Enter a range: "))))
print(k)

Enter a range: 10
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [101]:
g = {i for i in range(int(input("Enter a range: ")))}
print(g)

Enter a range: 5
{0, 1, 2, 3, 4}

In [102]:
m = {i if i%2==0 else -1 for i in range(int(input("Enter a range: ")))}
print(m)

Enter a range: 20
{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, -1}

In [103]:
n = {i:i**2 for i in range(int(input("Enter a range: ")))}
print(n)

Enter a range: 10
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [105]:
k = input().split()
h = []
for i in k:
    h.append(int(i))
v = {i:h.count(i) for i in h}
print(v)

1 1 5 2 6 8 8 9
{1: 2, 5: 1, 2: 1, 6: 1, 8: 2, 9: 1}

## Packages and Modules:
    Packages:
    =========
        - Collection of Subpackages and Modules
    Modules:
    ========
        - Collection of varaibles,functions,classes and its methods

In [1]:
import sample

In [2]:
print(dir(sample))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'a', 'evodd']

In [3]:
print(sample.a)

25

In [5]:
print(sample.evodd(int(input("Enter a number: "))))

Enter a number: 4
Even

In [6]:
from Data import demo

In [7]:
print(dir(demo))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'h', 'pntname']

In [8]:
print(demo.h)

Suresh

In [10]:
demo.pntname("Rajesh")

Entered name is: Rajesh